@import 'normalize.css';

:root {
    --primary: #4dbb6d;
    --white: #fff;
    --black: #000;
    --text-color: #161823;

    // Default layout
    --default-layout-header-height: 67.85px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --default-layout-padding: 15px;

    --default-layout-width-sidebar: 356px;
    --layout-width-sidebar: 246px;

    //Font
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

//Scrobar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

textarea {
    outline: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0;
    font: inherit;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    .tippy-box {
        text-align: left;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
        color: var(--white);
        padding: 4px 0;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
