.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1170px;
    max-width: 100%;
}

.recruit {
    display: flex;
    padding-top: 15px;
}

.department {
    width: 25%;
    padding: 0 15px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary);
    border-bottom: 1px dashed var(--primary);
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.department-menu {
    li {
        list-style: none;
        margin: 10px 0;
        padding: 0;

        a {
            color: #337ab7;
            text-decoration: none;
        }
    }
}

.subscribe {
    width: 25%;
    padding: 0 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 0;
}

.modal-content {
    display: none;
}
