.wrapper {
    width: var(--default-layout-width-sidebar);
    overflow-y: none;
    max-height: 100vh;
    position: fixed;
    background-color: white;
    &:hover {
        overflow-y: auto;
    }
}
